<mat-expansion-panel [expanded]="! dimensions">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Dimensions
    </mat-panel-title>
    <mat-panel-description>
      {{ dimensions.width + 'x' + dimensions.length + 'x' + dimensions.height }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <form #form="ngForm" (ngSubmit)="onRebuild(form.value)">
    <div class="row">
      <mat-form-field>
        <label for="width" aria-label="Width" hidden>Width</label>
        <input matInput placeholder="Width" [ngModel]="dimensions.width" type="number" id="width" name="width" min="1" max="24" />
      </mat-form-field>
      <mat-form-field>
        <label for="length" aria-label="Length" hidden>Length</label>
        <input matInput placeholder="Length" [ngModel]="dimensions.length" type="number" id="length" name="length" min="1" max="24" />
      </mat-form-field>
      <mat-form-field>
        <label for="height" aria-label="Height" hidden>Height</label>
        <input matInput placeholder="Height" [ngModel]="dimensions.height" type="number" id="height" name="height" min="1" max="24" />
      </mat-form-field>
    </div>
    <mat-action-row>
      <button mat-stroked-button type="submit">Rebuild</button>
    </mat-action-row>
  </form>
</mat-expansion-panel>
