.block {
  position: absolute;
  width: 32px;
  height: 32px;
}

::ng-deep .block-tooltip {
  white-space: pre-line;
  text-align: center;
}

.inactive {
  -webkit-filter: drop-shadow(0 0 0.5em #c20);
  filter: drop-shadow(0 0 0.5em #c20);
}
