.sidebar {
  position: fixed;
  top: 49px;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  justify-items: center;
}

.content {
  padding-left: 20px;
  padding-top: 10px;
  overflow: scroll;
}
